/* Layout ******************/

html {
  height:100%;
}

body {
  padding:0;
  width:700px; margin:0 auto;
  min-height:100%;
  position:relative;
}

* html body {
  height:100%;
}

#meta {
  position:absolute; bottom:0;
  height:40px; width:100%;
  padding:1px 0;
}

#content {
  padding-bottom:42px;
}

#main {
  float:left; width:80%;
  margin-left:20%;
}

* html #main {
  margin-left:10%;
}

#sections {
  float:left; width:20%; margin-left:-100%;
}

#news {
  float:right; width:25%;
}

#content {
  overflow:hidden; width:100%;
}

h1 {
  margin:0; padding:20px;
}

#search {
  position:absolute;
  top:0; right:0;
  margin:10px;
}

/* Fonts *******************/

body {
  font:10pt Tahoma, Sans-Serif;
}

h1 {
  font-size:180%;
  letter-spacing:1px;
}
span {
	font-weight:bold;
}
#main h2 {
  font-size:130%;
}

#sections,
#news {
  font-size:80%;
}

#sections h2,
#news h2 {
  font-size:125%; font-weight:bold;
  text-transform:uppercase;
}

#main h3 {
  font-size:100%; font-weight:bold;
}

#meta {
  font-size:70%;
}

#search input,
#search button {
  font-size:7pt;
}

/* Colors ******************/

html {
  background:url(../img/window-bg.png) #EEE;
}

body {
  background:url(../img/content-bg.png) white left top repeat-y;
  color:black;
}

#title {
  background:url(../img/title-bg.png) #45F left top repeat-x;
  color:white;
}

#meta,
#meta a {
  background:#45F;
  color:white;
}

#sections li a {
  background:#293499;
  color:white;
  border-color:white;
}

#sections li a:hover {
  background:#D00;
}

#news {
  color:#293499;
}

#main a {
  color:#D00;
}

#news h2 {
  background:url(../img/news-head-bg.png) #DDE6FF left top repeat-x;
}

#main h2 {
  color:#293499;
}
#main h3 {
  color:#293499;
}

#main .picture {
  border-color:#45F;
}
#search  {
  color:white;
}

#search a {
  color:white;
}


/* Misc ********************/

* html h1 {
  height:1%;
}

#sections h2 {
  display:none;
}

#sections ul {
  list-style:none;
  margin:50px 0; padding:0;
}

#sections li a {
  display:block;
  margin:5px 0; padding:2px 5px;
  border-style:solid; border-width:1px 0;
  text-decoration:none;
}

* html #sections li a {
  height:1%;
}

#news h2 {
  margin:0 0 20px 0;
  padding:10px;
}

#main h3 {
  float:left;
  margin:0 5px;
}

* html #main h3 {
  margin-left:2.5px;
}

#news p {
  margin:20px 5px;
}

#main a {
  background:url(../img/red-arrow.png) right center no-repeat;
  padding-right:13px;
}

* html #main a {
  padding-left:1px;
}

#main h2,
#main p {
  margin-left:15px;
  margin-right:15px;
}

#main h2 {
  margin-top:20px; margin-bottom:10px;
}

#main .picture {
  float:left;
  padding:5px;
  border-style:solid; border-width:1px;
  margin:0 15px 15px 0;
}

#meta p {
  margin:5px;
}

#search p {
  margin:0;
}

#search input {
  width:10em;
}

* html #search p {
  white-space:nowrap;
}

* html #search button {
  margin-left:4px;
}